﻿@model HomeWeb.Models.ViewModel.CCadastroViewModel

@{
    Layout = "~/Views/Master/Layout.cshtml";
}

<title>Cadastro</title>

    <form class="ui form formCadastro error attached fluid" id="formCadastro" data-url="@Url.Action("Cadastro","Login")" method="post">
        <h3>Cadastro</h3>
        <div class="ui inverted divider"></div>
        <div class="field" id="divFormNome">
            <label>Nome</label>
            <input type="text" name="Nome" placeholder="Nome" class="cmpObrigatorio" v-model="Nome" />
        </div>
        <div class="ui error message" v-bind:class="NomeHidden" >
            <div class="header">Nome obrigatório</div>
            <p>É obrigatório preencher o campo nome.</p>
        </div>
        <div class="field" id="divFormSobrenome">
            <label>Sobrenome</label>
            <input type="text" name="Sobrenome" placeholder="Sobrenome" />
        </div>
        <div class="ui inverted divider"></div>
        <div class="field" id="divFormEMail">
            <label>E-mail</label>
            <input type="email" name="E_mail" id="Id_eMail" v-bind:@change="EmailValido" placeholder="E-mail" class="cmpObrigatorio" v-model="Email" />
        </div>
        <div class="ui error message" v-bind:class="EmailHidden">
            <div class="header">E-mail obrigatório</div>
            <p>É obrigatório preencher o campo E-mail corretamente.</p>
        </div>
        <div class="ui inverted divider"></div>
        <div class="field" id="divFormUsuario">
            <label>Nome de usuario</label>
            <input type="text" name="Usuario1" placeholder="Usuario" class="cmpObrigatorio" v-model="Usuario" />
        </div>
        <div class="ui error message" v-bind:class="UsuarioHidden">
            <div class="header">Nome de usuario obrigatório</div>
            <p>É obrigatório preencher o campo usuario.</p>
        </div>
        <div class="field" id="divFormSenha">
            <label>Senha</label>
            <input type="password" name="Senha" id="pwdSenha" placeholder="Senha" class="cmpObrigatorio" v-model="Senha" />
        </div>
        <div class="field" id="divFormRepetirSenha">
            <label>Repita a senha</label>
            <input type="password" name="Senha" id="pwdRSenha" placeholder="Repita a senha" class="cmpObrigatorio" v-model="RSenha" />
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui buttons" id="divFormButtons">
            <button class="ui button green" v-bind:disabled="!isValid" type="button" form="formCadastro" name="Cadastro" id="btnSubmit">Cadastro</button>
            <div class="or" data-text="ou"></div>
            <button class="ui button red btnRedirectAction" data-url="@Url.Action("Login","Login")" type="button" name="Voltar" id="btnVoltar">Voltar</button>
        </div>
    </form>
@section footer{
    <script src="~/Scripts/Login/CadastroScript.js"></script>
   @* <script src="~/Scripts/Base/CampoObrigatorioScript.js"></script>*@
}