﻿@model HomeWeb.Models.ViewModel.CLoginViewModel
@using System.Web.Optimization

@{
    Layout = "~/Views/Master/Layout.cshtml";
}

<title>Login</title>

<form class="ui form formLogin" id="formLogin" data-url="@Url.Action("Login","Login")" method="post">
    <h3>Login</h3>
    <div class="ui inverted divider"></div>

    <div class="field" id="divFormLogin">
        <label>Login</label>
        <div class="ui left icon input">
            <input type="text" name="Login" placeholder="Login" />
            <i class="user circle outline icon"></i>
        </div>
    </div>
    <div class="field" id="divFormSenha">
        <label>Senha</label>
        <div class="ui left icon input">
            <input type="password" name="Senha" placeholder="Senha" />
            <i class="privacy icon"></i>
        </div>
    </div>
    <div class="ui inverted divider"></div>
    <div class="ui buttons" id="divFormButtons">
        <button class="ui button green" type="button" form="formLogin" name="Login" id="btnSubmit">Login</button>
        <div class="or" data-text="ou"></div>
        <button class="ui button yellow" type="button" name="Cadastro" id="btnCadastro">Cadastrar</button>
    </div>
</form>

<p class="ConstuctorCssPositionMouse"></p>
@section footer{
    <script src="~/Scripts/Login/LoginScript.js"></script>
}

