﻿@model HomeWeb.Models.ViewModel.CUsuarioViewModel


@{
    Layout = "~/Views/Master/Menu.cshtml";
}
<title>Configuracoes</title>

<div class="ui stactable column grid">
    <div class="three wide column">
        <div class="row">
            <div class="image" href="#">
                <img src="~/Content/Home/Anonimo.png">
            </div>
        </div>

        <button type="button" class="ui button inverted green">Alterar foto</button>

    </div>
    <div class="thirteen wide column">
        <div class="ui blue ribbon label">Informações básicas</div>
        <table class="ui selectable inverted table">
            <tbody>
                <tr>
                    <td>@Model.Nome</td>
                    <td class="right aligned">
                        <button type="button" class="ui button inverted yellow">Editar</button>
                    </td>
                </tr>
                <tr>
                    <td>@Model.Sobrenome</td>
                    <td class="right aligned">
                        <button type="button" class="ui button inverted yellow">Editar</button>
                    </td>
                </tr>
                <tr>
                    <td>@Model.Usuario1</td>
                    <td class="right aligned">
                        <button type="button" class="ui button inverted yellow">Editar</button>
                    </td>
                </tr>
                <tr>
                    <td>@Model.E_mail</td>
                    <td class="right aligned">
                        <button type="button" class="ui button inverted yellow">Editar</button>
                    </td>
                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td class="right aligned" />
                </tr>
            </tbody>
        </table>
    </div>
</div>








@section footer{

}
