﻿@model HomeWeb.Models.ViewModel.CAmizadesViewModel
@using HomeDBEntity.Enum;
@using HomeDBEntity.Helper;


@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Amigos</title>

<div id="master">
    <div class=" container">
        <div class="ui stackable grid">
            @foreach (var amigo in Model.Amizades)
            {
                <div class="four wide column">
                    @if (amigo.IdAmigo == HomeService.UsuarioService.Atual.Id && amigo.IdEstadoAmizade == eEstadoAmizade.Amigos)
                    {
                        <div class="ui ItemPulse card column selctObject" v-on:click="InsertId(@amigo.IdUsuario,$event)" data-selected="true" data-id="@amigo.IdAmigo">
                            <div class="content">
                                <i class="right floated icon"></i>
                                <img class="right floated mini ui image" src="~/Content/Home/Anonimo.png">
                                <div class="header">
                                    @amigo.Usuario.Usuario1
                                </div>
                                <div class="meta">
                                    <span>@amigo.IdEstadoAmizade.Descricao()</span>
                                </div>
                                <div class="description">
                                    @amigo.Usuario.Usuario1 (Criar status)
                                </div>
                            </div>

                        </div>
                    }
                    else if (amigo.IdEstadoAmizade == eEstadoAmizade.Amigos)
                    {
                        <div class="ui ItemPulse card column selctObject" v-on:click="InsertId(@amigo.IdAmigo,$event)" data-selected="true" data-id="@amigo.IdAmigo">
                            <div class="content">
                                <i class="right floated icon"></i>
                                <img class="right floated mini ui image" src="~/Content/Home/Anonimo.png">
                                <div class="header">
                                    @amigo.Usuario1.Usuario1
                                </div>
                                <div class="meta">
                                    <span>@amigo.IdEstadoAmizade.Descricao()</span>
                                </div>
                                <div class="description">
                                    @amigo.Usuario1.Usuario1 (Criar status)
                                </div>
                            </div>

                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class=" btnGroupAction ui sticky" id="vGroupButtons">
        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Gerenciar))
        {
            <div class="ui buttons" v-bind:class="vColor">
                <div class="ui button" :data-id="vId" v-bind:class="Habilitar" v-on:click="Click" :data-url="vUrl" :data-view="vView" v-on:ready="vUrl='@Url.Action("ModalVisualizar", "Amigos")'" id="btnDropdownButton"><i class="icon" v-bind:class="vIcon"></i>{{vName}}</div>
                <div class="ui top right pointing combo dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Exibir))
                        {
                            <div class="item dropdownButtonItem" v-on:click="Redirect('@Url.Action("VisualizaSolicitacaoAmizade", "Amigos")',$event)" data-view="page" data-allowClick="true" data-icon="search" data-color="blue" data-name="Visualizar solicitações de amizade"><i class="search icon"></i>Visualizar solicitações de amizade</div>
                        }
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Excluir))
                        {
                            <div class="item dropdownButtonItem" v-on:click="Redirect('@Url.Action("ModalExcluir", "Amigos")',$event)" data-view="" data-allowMultiple="true" data-icon="delete" data-color="red" data-name="Desfazer amizade"><i class="delete icon"></i>Desfazer amizade</div>
                        }
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Exibir))
                        {
                            <div class="item dropdownButtonItem " v-on:click="Redirect('@Url.Action("ModalVisualizar", "Amigos")',$event)" data-view="" data-allowMultiple="false" data-icon="search" data-color="blue" data-name="Visualizar"><i class="search icon"></i>Visualizar</div>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
    <div id="modal">

    </div>
</div>

@section footer{
    <script src="~/Scripts/Base/StringBuilderScript.js"></script>
    <script src="~/Scripts/Base/DropDownScript.js"></script>
    <script src="~/Scripts/Amigos/AmigosScript.js"></script>
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>

}

