﻿@model HomeWeb.Models.ViewModel.CAgendaViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalCriar","Amigos")" method="post">
            <h3 class="ui dividing inverted header">Criar Evento</h3>
            <div class="field">
                @*<div class="ui fluid search dropdown">
                        <input class="search"/>
                    </div>*@
                <div class="field" id="divFormComparilhamento">
                    <select class="ui fluid search dropdown " multiple=""></select>
                </div>
            </div>
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button green  inverted" type="button" form="formModalAdd" name="Adicionar">Adicionar</button>
        <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>

    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
</div>
