﻿@model HomeWeb.Models.ViewModel.CAmizadeViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formAmizadeSolicitar" data-url="@Url.Action("SolicitarAmizade","Amigos")" method="post">
            <h3 class="ui dividing inverted header">Visualizar usuario</h3>
          @if (Model.Usuario.Id == HomeService.UsuarioService.Atual.Id)
          {
            <input type="hidden" name="id" value="@Model.Usuario1.Id" />
            <div class="ui two fields">
                <div class="field ">
                    <div class="field ">
                        <div class="image" href="#">
                            <img src="~/Content/Home/Anonimo.png">
                        </div>
                    </div>
                </div>
                <div class="field" id="divFormNomeEvento">
                    <label>Nome</label>
                    <p>@Model.Usuario1.Usuario1</p>
                </div>
            </div>
          }
          else
          {
            <input type="hidden" name="id" value="@Model.Usuario.Id" />
            <div class="ui two fields">
                <div class="field ">
                    <div class="field ">
                        <div class="image" href="#">
                            <img src="~/Content/Home/Anonimo.png">
                        </div>
                    </div>

                </div>
                <div class="field" id="divFormNomeEvento">
                    <label>Nome</label>
                    <p>@Model.Usuario.Usuario1</p>
                </div>
            </div>
          }

            <h4 class="ui dividing inverted header">Informações adicionais</h4>
            @switch (Model.IdEstadoAmizade)
            {
                case HomeDBEntity.Enum.eEstadoAmizade.AguardandoSolicitacao:
                    <div class="field ">
                        <div class="field" id="divFormDescricao">
                            <label>Você solicitou amizade para este usuario</label>
                        </div>
                    </div>
                    break;
                case HomeDBEntity.Enum.eEstadoAmizade.Amigos:
                    <div class="field ">
                        <div class="field" id="divFormDescricao">
                            <label>Você e @Model.Usuario.Usuario1 são amigos</label>
                        </div>
                    </div>
                    break;
            }


            <div class="ui inverted divider"></div>
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        @if (Model.IdEstadoAmizade == HomeDBEntity.Enum.eEstadoAmizade.Nenhum)
            {
            <button class="ui approve button green basic inverted" type="button" name="Editar" form="formAmizadeSolicitar">Solicitar amizade</button>
        }
        @*else if (Model.IdEstadoAmizade == HomeDBEntity.Enum.eEstadoAmizade.AguardandoSolicitacao)
        {
            <button class="ui approve button red basic inverted" type="button" name="Editar" form="formAmizadeSolicitar">Cancelar solicitação de amizade</button>
        }*@
                <button class="ui deny button yellow basic inverted" type="button" name="Cancelar" id="btnCancelar">Voltar</button>
    </div>

</div>
