﻿@model HomeWeb.Models.ViewModel.CUsuariosViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalModalRecusarAmizade" data-url="@Url.Action("ModalRecusarAmizade","Amigos")" method="post">
            @if (Model.Usuarios.Count == 1)
            {
                <h3 class="ui dividing inverted header">Deseja realmente recusar a solicitação de amizade de @Model.Usuarios.First().Usuario1?</h3>
                <input type="hidden" name="Id" value="@Model.Usuarios.First().Id" />
            }
            else
            {
                <h3 class="ui dividing inverted header">Deseja realmente recusar as solicitações de amizades abaixo?</h3>
                foreach (var usuario in Model.Usuarios)
                {
                    <p>@usuario.Usuario1</p>
                    <input type="hidden" value="@usuario.Id" name="Id" />
                }
            }
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button red inverted" type="button" form="formModalModalRecusarAmizade" name="Recusar">Recusar</button>
        <button class="ui deny button green basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>
