﻿@model HomeWeb.Models.ViewModel.CUsuariosViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalExcluir" data-url="@Url.Action("ModalExcluir","Amigos")" method="post">
            @if (Model.Usuarios.Count == 1)
            {
                <h3 class="ui dividing inverted header">Deseja realmente desfazer a amizade com @Model.Usuarios.First().Usuario1?</h3>
                <input type="hidden" name="Id" value="@Model.Usuarios.First().Id" />
            }
            else
            {
                <h3 class="ui dividing inverted header">Deseja realmente desfazer a amizade dos seguintes usuaros?</h3>
                foreach (var usuario in Model.Usuarios)
                {
                    <p>@usuario.Usuario1</p>
                    <input type="hidden" value="@usuario.Id" name="Id" />
                }
            }
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button red inverted" type="button" form="formModalExcluir" name="Remover">Remover</button>
        <button class="ui deny button green basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>