﻿@model HomeWeb.Models.ViewModel.CAmizadesViewModel
@using HomeDBEntity.Enum;
@using HomeDBEntity.Helper;

@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Visualizar Solicitacões de Amizade</title>
<div id="master">
    <div class=" container">
        <div class="ui grid six column cards">
        @foreach (var soclicitacao in Model.Amizades)
            {
                <div class="ui ItemPulse card column selctObject" v-on:click="InsertId(@soclicitacao.IdUsuario,$event)" data-selected="true" data-id="@soclicitacao.IdUsuario">
                    <div class="content">
                        <i class="right floated icon"></i>
                        <img class="right floated mini ui image" src="~/Content/Home/Anonimo.png">
                        <div class="header">
                          @soclicitacao.Usuario.Usuario1
                        </div>
                        <div class="meta">
                            <span>@soclicitacao.IdEstadoAmizade.Descricao()</span>
                        </div>
                        <div class="description">
                            @soclicitacao.Usuario.Usuario1 (Criar status)
                        </div>
                    </div>
                    @*<div class="extra content">
                        <div class="ui one buttons">
                            <div class="ui basic red button">Recusar amizade</div>
                        </div>
                    </div>*@
                </div>
            }
        </div>
    </div>
   
    <div class=" btnGroupAction ui sticky" id="vGroupButtons">
        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Gerenciar))
            {
            <div class="ui buttons" v-bind:class="vColor">
                <div class="ui button" :data-id="vId" v-bind:class="Habilitar" v-on:click="Click" :data-url="vUrl" :data-view="vView" v-on:ready="vUrl='@Url.Action("Index", "Amigos")'" id="btnDropdownButton"><i class="icon" v-bind:class="vIcon"></i>{{vName}}</div>
                <div class="ui top right pointing combo dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Exibir))
                        {
                            <div class="item dropdownButtonItem" v-on:click="Redirect('@Url.Action("Index", "Amigos")',$event)" data-view="page" data-allowClick="true" data-icon="search" data-color="blue"  data-name="Votar para pagina de amizade"><i class="search icon"></i>Votar para pagina de amizade</div>
                        }
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Excluir))
                        {
                            <div class="item dropdownButtonItem" v-on:click="Redirect('@Url.Action("ModalRecusarAmizade", "Amigos")',$event)" data-view="" data-icon="delete" data-allowMultiple="true" data-color="red" data-name="Recusar amizade"><i class="delete icon"></i>Recusar amizade</div>
                        }
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Inserir))
                        {
                            <div class="item dropdownButtonItem" v-on:click="Redirect('@Url.Action("ModalConfirmarAmizade", "Amigos")',$event)" data-view="" data-icon="add" data-color="green" data-allowMultiple="true" data-name="Aceitar amizade"><i class="add icon"></i>Aceitar amizade</div>
                        }
                        @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Exibir))
                        {
                            <div class="item dropdownButtonItem " v-on:click="Redirect('@Url.Action("ModalVisualizar", "Amigos")',$event)" data-view="" data-icon="search" data-color="blue" data-allowMultiple="false" data-name="Visualizar"><i class="search icon"></i>Visualizar</div>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="Modaldiv">
    <modalShow></modalShow>
</div>
@section footer{
    <script src="~/Scripts/Base/StringBuilderScript.js"></script>
    <script src="~/Scripts/Base/DropDownScript.js"></script>
    <script src="~/Scripts/Amigos/AmigosScript.js"></script>
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>

}
