﻿@using HomeDBEntity.Enum;
@{
    Layout = "~/Views/Master/Layout.cshtml";
}

<div class="ui stackable  menu inverted">
    <a class="item" href="@Url.Action("Index","Painel")">
        <i class="ui big icon home"></i>
    </a>
    @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Agenda, ePermissaoId.Exibir))
    {
        if (HomeService.UsuarioService.ObterContadorAgendaCompartilhada() > 0)
        {
            <div data-tooltip="Você possui @HomeService.UsuarioService.ObterContadorAgendaCompartilhada() novo(s) compartilhamento(s) de agenda(s)." data-position="bottom center" data-variation="tiny">
                <a class="item" href="@Url.Action("Index","Agenda")">
                    <i class="ui big icon calendar"></i>
                    <i class="ui right corner icon inverted info circle"></i>
                </a>
            </div>

        }
        else
        {
            <a class="item" href="@Url.Action("Index","Agenda")">
                <i class="ui big icon calendar"></i>
            </a>
        }
    }
    @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Amigos, ePermissaoId.Exibir))
    {
        if (HomeService.UsuarioService.ObterContadorSolicitacaoAmizade() > 0)
        {
            <div data-tooltip="Você possui @HomeService.UsuarioService.ObterContadorSolicitacaoAmizade() novas solicitações de amizade." data-position="bottom center" data-variation="tiny">
                <a class="item" href="@Url.Action("Index", "Amigos")">
                    <i class="big icons">
                        <i class="ui users icon"></i>
                        <i class="corner inverted info circle icon"></i>
                    </i>
                </a>
            </div>

        }
        else
        {
            <a class="item" href="@Url.Action("Index", "Amigos")">
                <i class="ui big icon users"></i>
            </a>
        }
    }
    @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Chat, ePermissaoId.Gerenciar))
    {
        <a class="item" href="@Url.Action("Index","Chat")">
            <i class="ui big icon Wechat"></i>
        </a>
    }
    <div class="right menu">
        @if (HomeService.UsuarioService.PossuiAcesso(ePermissaoId.Pesquisar))
        {
            <div class="item">
                <div class="ui small search ">
                    <div class="ui trasnparent  icon input">
                        <input class="prompt" type="text" placeholder="Pesquisar...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        }
        <div class="ui dropdown item">
            <i class="icon big user"></i>
            <div class="menu">
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Exibir))
                {
                    <a class="item" href="@Url.Action("Perfis", "Perfil")"><i class="big icon book"></i>Perfils</a>
                    <div class="divider"></div>
                }
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Usuario, ePermissaoId.Exibir))
                {
                    <a class="item" href="@Url.Action("Usuarios", "Usuario")"><i class="big icon users"></i>Usuarios</a>
                    <div class="divider"></div>
                }
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Configuracao, ePermissaoId.Exibir))
                {
                    <a class="item" href="@Url.Action("Configuracoes","Configuracao")"><i class="big icon settings"></i>Configurações</a>
                    <div class="divider"></div>
                }
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Bug, ePermissaoId.Exibir))
                {
                    <a class="item" href="@Url.Action("Index","Bug")"><i class="big icon bug"></i>Bugs</a>
                    <div class="divider"></div>
                }
                <a class="item" href="@Url.Action("Logout","Login")"><i class="big icon sign out"></i>Logout</a>
            </div>
        </div>
    </div>
</div>



@section footer{

    @RenderSection("footer")
    @Scripts.Render("~/bundles/Menu")

    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Base/SignalRScript.js"></script>


}

@RenderBody()
