﻿@model HomeWeb.Models.ViewModel.CAgendasViewModel
@using HomeDBEntity.Enum;
@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Agenda</title>
<div id="master">
    <div class="container">
        <div class="ui stackable grid">
            @foreach (var agenda in Model.Agendas)
            {
            <div class="four wide column">
                <div class="ui card ItemPulse selctObject" v-on:click="InsertId(@agenda.Id,$event)" data-selected="true" data-id="@agenda.Id">
                    <div class="content">
                        <i class="right floated icon"></i>
                        <div class="header">@agenda.NomeEvento</div>
                    </div>
                    <div class="content">
                        <h4 class="ui sub header">Descrição</h4>
                        <div class="ui small feed">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        @agenda.Descricao.Esconder()
                                    </div>
                                </div>
                            </div>
                            @if (agenda.DiaInteiro)
                                {
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        Dia inteiro
                                    </div>
                                </div>
                            </div>
                                }
                                else
                                {
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <p>
                                            Data de inicio: @agenda.Inicio.ToShortDateString()
                                        </p>
                                        <p>
                                            Data de final: @agenda.Fim.Value.ToShortDateString()
                                        </p>
                                    </div>
                                </div>
                            </div>
                                }
                        </div>
                    </div>

                </div>
            </div>
            }
        </div>
    </div>
    @*<div class="ui right aligned stackable grid">
        <div class="sixteen stackable wide column">*@
            <div id="vGroupButtons" class="btnGroupAction">
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Agenda, ePermissaoId.Gerenciar))
                {
                    <div class="ui buttons" v-bind:class="vColor">
                        <div class="ui button" :data-id="vId" v-bind:class="Habilitar" v-on:click="Click" :data-url="vUrl" v-on:ready="vUrl='@Url.Action("ModalVisualizarAgenda", "Agenda")'" id="btnDropdownButton"><i class="icon" v-bind:class="vIcon"></i>{{vName}}</div>
                        <div class="ui top right pointing combo dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Agenda, ePermissaoId.Excluir))
                                {
                                    <div class="item dropdownButtonItem" v-on:click="Excluir('@Url.Action("ModalExcluirAgenda", "Agenda")',$event)" data-name="Excluir"><i class="delete icon"></i> Excluir</div>
                                }
                                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Agenda, ePermissaoId.Editar))
                                {
                                    <div class="item dropdownButtonItem" v-on:click="Editar('@Url.Action("ModalEditarAgenda", "Agenda")',$event)" data-name="Editar"><i class="edit icon"></i> Editar</div>
                                }
                                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Agenda, ePermissaoId.Inserir))
                                {
                                    <div class="item dropdownButtonItem" v-on:click="Novo('@Url.Action("ModalCriarAgenda", "Agenda")',$event)" data-name="Novo"><i class="add icon"></i> Novo</div>
                                }
                                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Agenda, ePermissaoId.Exibir))
                                {
                                    <div class="item dropdownButtonItem " v-on:click="Visualizar('@Url.Action("ModalVisualizarAgenda", "Agenda")',$event)" data-name="Visualizar"><i class="search icon"></i> Visualizar</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        @*</div>
    </div>*@
    <div id="modal">
    </div>
</div>

@section footer{
    <script src="~/Scripts/Base/DropDownScript.js"></script>
    <script src="~/Scripts/Base/DoublyLinkedList.js"></script>
    <script src="~/Scripts/Agenda/AgendaScript.js"></script>
    <script src="~/Scripts/Base/StringBuilderScript.js"></script>
}

