﻿@model HomeWeb.Models.ViewModel.CAgendaViewModel


    <div class="ui basic longer modal">
        <div class="content">
            <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalEditarAgenda","Agenda")" method="post">
                <h3 class="ui dividing inverted header">Editar Evento</h3>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="field">
                    <div class="field" id="divFormNomeEvento">
                        <label>Nome</label>
                        <input type="text" name="NomeEvento" placeholder="Nome do evento" value="@Model.NomeEvento" />
                    </div>
                </div>
                <div class="field">
                    <div class="field" id="divFormLocal">
                        <label>Local</label>
                        <input type="text" name="Local" placeholder="Local" value="@Model.Local" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="field" id="divFormDataInicio">
                        <label>Data de inicio</label>
                        <input type="date" name="DataInicio" placeholder="Data inicio" value="@Model.Inicio.ToDateView()" />
                    </div>
                    <div class="field" id="divFormHoraInicio">
                        <label>Hora de inicio</label>
                        <input type="time" name="HoraInicio" placeholder="Hora inicio" value="@Model.Inicio.ToHourView()" />
                    </div>
                </div>
                <div class="field">
                    <div class="field" id="divFormDiaInteiro">
                        <div class="ui checkbox Conditional">
                            <input type="checkbox" data-disable="divFormDataFim,divFormHoraFim" name="DiaInteiro" checked="@Model.DiaInteiro">
                            <label>Dia inteiro</label>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field" id="divFormDataFim">
                        <label>Data final</label>
                        <input type="date" name="DataFim" placeholder="Data inicio" value="@Model.Fim.ToDateView()" />
                    </div>
                    <div class="field" id="divFormHoraFim">
                        <label>Hora final</label>
                        <input type="time" name="HoraFim" placeholder="Hora inicio" value="@Model.Fim.ToHourView()" />
                    </div>
                </div>
                <div class="field">
                    <div class="field" id="divFormDescricao">
                        <label>Descrição</label>
                        <textarea placeholder="Descrição" name="Descricao">@Model.Descricao</textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="field" id="divFormComparilhamento">
                        <label>Compartilhar</label>
                        <select class="ui fluid search dropdown " multiple="" name="postAmigos">
                            <option value="">Compartilhar com</option>
                        </select>
                    </div>
                </div>


            </form>
        </div>
        <div class="actions" id="divFormButtons">
            <button class="ui approve button yellow  inverted" type="button" form="formModalAdd" name="Editar">Editar</button>
            <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
        </div>

        <script src="~/Scripts/Base/CheckBoxScript.js"></script>
    </div>