﻿@model HomeWeb.Models.ViewModel.CAgendaViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalCriarAgenda","Agenda")" method="post">
            <h3 class="ui dividing inverted header">Criar Evento</h3>
            <div class="field">
                <div class="field" id="divFormNomeEvento">
                    <label>Nome</label>
                    <input type="text" name="NomeEvento" placeholder="Nome do evento" />
                </div>
            </div>
            <div class="field">
                <div class="field" id="divFormLocal">
                    <label>Local</label>
                    <input type="text" name="Local" placeholder="Local" />
                </div>
            </div>
            <div class="two fields">
                <div class="field" id="divFormDataInicio">
                    <label>Data de inicio</label>
                    <input type="date" name="DataInicio" placeholder="Data inicio" />
                </div>
                <div class="field" id="divFormHoraInicio">
                    <label>Hora de inicio</label>
                    <input type="time" name="HoraInicio" placeholder="Hora inicio" />
                </div>
            </div>
            <div class="field">
                <div class="field" id="divFormDiaInteiro">
                    <div class="ui checkbox Conditional">
                        <input type="checkbox" data-disable="divFormDataFim,divFormHoraFim" name="DiaInteiro" value="true">
                        <label>Dia inteiro</label>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field" id="divFormDataFim">
                    <label>Data final</label>
                    <input type="date" name="DataFim" placeholder="Data inicio" />
                </div>
                <div class="field" id="divFormHoraFim">
                    <label>Hora final</label>
                    <input type="time" name="HoraFim" placeholder="Hora inicio" />
                </div>
            </div>
            <div class="field">
                <div class="field" id="divFormDescricao">
                    <label>Descrição</label>
                    <textarea placeholder="Descrição" name="Descricao"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="field" id="divFormComparilhamento">
                    <label>Compartilhar</label>
                    <select class="ui fluid search dropdown " multiple="" name="postAmigos">
                        <option value="">Compartilhar com</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button green  inverted" type="button" form="formModalAdd" name="Adicionar">Adicionar</button>
        <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>

    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
</div>

