﻿@model HomeWeb.Models.ViewModel.CAgendaViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formAgendaAdd" data-url="@Url.Action("CriarAgenda","Agenda")" method="post">
            <h3 class="ui dividing inverted header">Visualizar Evento</h3>
            <div class="two fields ">
                <div class="field" id="divFormNomeEvento">
                    <label>Nome</label>
                    <span>@Model.NomeEvento</span>
                </div>
                <div class="field" id="divFormLocal">
                    <label>Local</label>
                    <span>@Model.Local</span>
                </div>
            </div>
            <h4 class="ui dividing inverted header">Data</h4>
            <div class="two fields ">
                <div class="field" id="divFormDataInicio">
                    <label>Data de inicio</label>
                    <span>@Model.Inicio.ToDateView()</span>
                </div>
                <div class="field" id="divFormHoraInicio">
                    <label>Hora de inicio</label>
                    <span>@Model.Inicio.ToHourView()</span>
                </div>
            </div>
            @if (Model.DiaInteiro)
            {
                <div class="field">
                    <label>Data final</label>
                    <span>Dia inteiro</span>
                </div>
            }
            else
            {
                <div class="two fields ">
                    <div class="field" id="divFormDataFim">
                        <label>Data final</label>
                        <span>@Model.Fim.ToDateView()</span>
                    </div>
                    <div class="field" id="divFormHoraFim">
                        <label>Hora final</label>
                        <span>@Model.Fim.ToHourView()</span>
                    </div>
                </div>
            }
            <h4 class="ui dividing inverted header">Informações adicionais</h4>
            <div class="field ">
                <div class="field" id="divFormDescricao">
                    <label>Descrição</label>
                    <span>@Model.Descricao</span>
                </div>
            </div>
            @if (Model.IdUsuario != HomeService.UsuarioService.Atual.Id)
            {
                <div class="field ">
                    <div class="field" id="divFormDescricao">
                        <label>Compartilhado por</label>
                        <span>@Model.Usuario.Usuario1</span>
                    </div>
                </div>
            }
            else
            {<div class="field ">
                <div class="field" id="divFormDescricao">
                    <label>Compartilhado com</label>
                    <span>@string.Join(",", Model.AgendaCompartilhada.Select(x => x.Usuario.Usuario1).ToArray())</span>
                </div>
            </div>
            }
        </form>

    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui deny button yellow basic inverted" type="button" name="Cancelar" id="btnCancelar">Voltar</button>
    </div>

</div>

