﻿@model HomeWeb.Models.ViewModel.CAgendasViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalExcluir" data-url="@Url.Action("ModalExcluirAgenda","Agenda")" method="post">
            @if (Model.Agendas.Count == 1)
            {
                <h3 class="ui dividing inverted header">Deseja realmente excluir e/ou desassociar o evento "@Model.Agendas.First().NomeEvento"?</h3>
                <input type="hidden" name="Ids" value="@Model.Agendas.First().Id" />
            }
            else
            {
                <h3 class="ui dividing inverted header">Deseja realmente excluir e/ou desassociar os eventos abaixo?</h3>
                <div class="ui inverted relaxed divided list">
                    @foreach (var agenda in Model.Agendas)
                    {
                        <div class="item">
                            <input type="hidden" value="@agenda.Id" name="Ids" />
                            <div class="content">
                                <div class="header">@agenda.NomeEvento</div>
                                @agenda.Descricao
                            </div>
                        </div>
                    }
                </div>

            }
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button red inverted" type="button" form="formModalExcluir" name="Remover">Remover</button>
        <button class="ui deny button green basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>
