﻿@model HomeWeb.Models.ViewModel.CBugsViewModel
@using HomeDBEntity.Enum
@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Bugs</title>

<h3 class="ui dividing inverted header">Bugs</h3>
<table class="ui selectable structured inverted table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Erro</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
            {
            <tr>
                <td class="Codigo"> @bug.CodigoBug </td>
                <td class="Erro"> @bug.NomeBug </td>
                <td class="Quantidade">
                    <div class="ui indicating progress error" data-percent="@bug.Porcentagem" id="progresso">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label">@bug.Qunatidade Erros</div>
                    </div>
                  
                </td>
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
                {
                    <td class="collapsing">
                        <div>
                            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Bug, ePermissaoId.Excluir))
                            {
                                <input type="button" class="ui button inverted green modalCall" data-url="@Url.Action("ModalResolverBug", "Bug", new { cod = bug.CodigoBug })" name name="Excluir" value="Excluir" id="btnModalExcluir" />
                            }
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Footer{
    <script src="~/Content/components/progress.js"></script>
    }