﻿
@{
    Layout = "~/Views/Master/Menu.cshtml";
}

@model HomeWeb.Models.ViewModel.CPerfilViewModel

<title>Criar perfil</title>


<form class="ui form formCadastro" id="formModalAdd" data-url="@Url.Action("ModalCriarPerfil","Perfil")" method="post">
    <h3 class="ui dividing inverted header">Criar perfil</h3>
    <div class="field">
        <div class="two fields">
            <div class="field" id="divFormNome">
                <label>Nome</label>
                <input type="text" name="Nome" placeholder="Nome" />
            </div>
            <div class="field" id="divFormCodigo">
                <label>Codigo</label>
                <input type="number" name="Codigo" placeholder="Codigo" />
            </div>
        </div>
    </div>
    <div class="ui inverted divider"></div>
    <h3 class="ui dividing inverted header">Acessos e permissões</h3>

    <div class="DropdownAcessoPermissao field">
        <div class="three fields campo">
            <div class="divAcessos field">
                <div class="ui selection dropdown">
                    <input type="hidden" name="Permissao">
                    <i class="dropdown icon"></i>
                    <div class="default text">Permissao</div>
                    <div class="menu">
                        @foreach (var acesso in Model.Acessos)
                        {
                            <div class="item" data-value="@acesso.Codigo">@acesso.Nome</div>
                        }
                    </div>
                </div>
            </div>
            <div class="divPermissoes field">
                <div class="ui field dropdownPermissao" id="dropdownPermissao" name="Permissoes">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="Permissao">
                        <i class="dropdown icon"></i>
                        <div class="default text">Permissao</div>
                        <div class="menu">
                            @foreach (var permissao in Model.Permissoes)
                            {
                                <div class="item" data-value="@permissao.Codigo">@permissao.Nome</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui list">
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <input type="button" class="ui icon plus button inverted basic green" id="mais" value="Adicionar acesso" />
    </div>
    <div class="ui inverted divider"></div>
    <button class="ui button green  inverted" type="button" form="formModalAdd" name="Adicionar" id="btnSubmit">Adicionar</button>
    <button class="ui button red basic inverted" type="button" name="Voltar" id="btnCancelar">Voltar</button>
</form>



@section footer{

}