﻿@model HomeWeb.Models.ViewModel.CPerfisViewModel
@using HomeDBEntity.Enum;
<table class="ui selectable structured inverted table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descriçao</th>
            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
            {
                <th>Codigo</th>
                <th>Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var perfil in Model.Perfis)
        {
            <tr>
                <td class="Nome"> @perfil.Nome </td>
                <td class="Descricao"> @perfil.Descricao</td>
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
                {
                    <td class="Codigo"> @perfil.Codigo </td>
                    <td class="collapsing">
                        <div>
                            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Excluir))
                            {
                                <input type="button" class="ui button inverted red modalCall" data-url="@Url.Action("ModalExcluirPerfil", "Perfil", new { cod = perfil.Codigo })" name="Excluir" value="Excluir" id="btnModalExcluir" />
                            }
                            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Editar))
                            {
                                <input type="button" class="ui button inverted yellow modalCall" data-url="@Url.Action("ModalEditarPerfil", "Perfil", new { cod = perfil.Codigo })" name="Editar" value="Editar" id="btnModalEditar" />
                            }
                            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Associar))
                            {
                                <input type="button" class="ui button inverted blue modalCall" data-url="@Url.Action("ModalAssociarPerfil", "Perfil", new { cod = perfil.Codigo })" name="Associar" value="Associar" id="btnModalAssociar" />
                            }
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total de perfis: @Model.Perfis.Count</th>
            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Inserir))
            {
                <th>
                    <input type="button" class="ui button inverted green modalCall" data-url="@Url.Action("ModalCriarPerfil", "Perfil")" name="Criar" value="Criar" id="btnModalCriar" />
                </th>
            }
        </tr>
    </tfoot>

</table>