﻿@model HomeWeb.Models.ViewModel.CPerfisViewModel
@using HomeDBEntity.Enum;
<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descriçao</th>
            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil,ePermissaoId.Gerenciar))
            {
                <th>Codigo</th>
                <th>Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var acesso in Model.Acessos)
        {
            <tr>
                <td class="Nome">@acesso.Nome</td>
                <td class="Descricao"> @acesso.Descricao</td>
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
                {
                    <td class="Codigo"> @acesso.Codigo </td>
                    <td class="collapsing">
                        <div>
                            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Excluir))
                            {
                                <input type="button" class="ui button inverted red modalCall" data-url="@Url.Action("ModalExcluirAcesso", "Perfil", new { cod = acesso.Codigo })" name="Excluir" value="Excluir" id="btnModalExcluir" />
                            }
                            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Editar))
                            {
                                <input type="button" class="ui button inverted yellow modalCall" data-url="@Url.Action("ModalEditarAcesso", "Perfil", new { cod = acesso.Codigo })" name="Editar" value="Editar" id="btnModalEditar" />
                            }
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total de acessos: @Model.Acessos.Count</th>
            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Inserir))
            {
                <th>
                    <input type="button" class="ui button inverted green modalCall" data-url="@Url.Action("ModalCriarAcesso", "Perfil")" name="Criar" value="Criar" id="btnModalCriar" />
                </th>
            }
        </tr>
    </tfoot>
</table>
