﻿@model HomeWeb.Models.ViewModel.CPerfisViewModel
@using HomeDBEntity.Enum;

<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descriçao</th>
            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
            {
                <th>Codigo</th>
                <th>Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var permissao in Model.Permissoes)
            {
            <tr>
                <td class="Nome">@permissao.Nome</td>
                <td class="Descricao"> @permissao.Descricao</td>
                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
                {
                    <td class="Codigo"> @permissao.Codigo </td>
                        <td class="collapsing">
                            <div>
                                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Excluir))
                                {
                                    <input type="button" class="ui button inverted red modalCall" data-url="@Url.Action("ModalExcluirPermissao", "Perfil", new { cod = permissao.Codigo })" name="Excluir" value="Excluir" id="btnModalExcluir" />
                                }
                                @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Editar))
                                {
                                    <input type="button" class="ui button inverted yellow modalCall" data-url="@Url.Action("ModalEditarPermissao", "Perfil", new { cod = permissao.Codigo })" name="Editar" value="Editar" id="btnModalEditar" />
                                }
                            </div>
                        </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total de permissoes: @Model.Permissoes.Count</th>
            @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Inserir))
            {
                <th>
                    <input type="button" class="ui button inverted green modalCall" data-url="@Url.Action("ModalCriarPermissao", "Perfil")" name="Criar" value="Criar" id="btnModalCriar" />
                </th>
            }
        </tr>

    </tfoot>
</table>