﻿@model HomeWeb.Models.ViewModel.CPerfilViewModel

<div class="ui basic longer modal">
    <div class="scrolling content">
        <form class="ui form formModal" id="formModalAssociar" data-url="@Url.Action("ModalAssociarPerfil","Perfil")" method="post">
            <h3 class="ui dividing inverted header">Deseja associar o perfil "@Model.Nome" a quais contas?</h3>
            <div class="field">
                <div class="ui celled relaxed list">
                    <div class="item FatherList">
                        <div class="list">
                            @foreach (var usuario in Model.Usuarios)
                            {
                                <div class="item">
                                    <div class="ui child checkbox ChildList">
                                        @if (Model.UsuariosPost.Contains(usuario.Id))
                                        {
                                            <input type="checkbox" name="UsuariosPost" value="@usuario.Id" >
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="UsuariosPost" value="@usuario.Id" checked>
                                        }
                                        <label>@usuario.Nome</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="Codigo" value="@Model.Codigo" />
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button blue inverted" type="button" form="formModalAssociar" name="Associar">Associar</button>
        <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
</div>
