﻿@model HomeWeb.Models.ViewModel.CAcessoViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalCriarAcesso","Perfil")" method="post">
            <h3 class="ui dividing inverted header">Criar Acesso</h3>
            <div class="field">
                <div class="field" id="divFormNome">
                    <label>Nome</label>
                    <input type="text" name="Nome" placeholder="Nome" />
                </div>
            </div>
            <div class="field">
                <div class="field" id="divFormNome">
                    <label>Descrição</label>
                    <input type="text" name="Descricao" placeholder="Descrição" />
                </div>
            </div>
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button green  inverted" type="button" form="formModalAdd" name="Adicionar">Adicionar</button>
        <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
</div>

