﻿@model HomeWeb.Models.ViewModel.CPerfilViewModel
@using MvcCheckBoxList.Model;

<div class="ui basic longer modal">
    <div class="scrolling content">
        <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalCriarPerfil","Perfil")" method="post">
            <h3 class="ui dividing inverted header">Criar perfil</h3>
            <div class="field">
                <div class="field" id="divFormNome">
                    <label>Nome</label>
                    <input type="text" name="Nome" placeholder="Nome" />
                </div>
            </div>
            <div class="field">
                <div class="field" id="divFormNome">
                    <label>Descrição</label>
                    <input type="text" name="Descricao" placeholder="Descrição" />
                </div>
            </div>
            <h3 class="ui dividing inverted header">Acessos</h3>
            <div class="scrolling content">
                <div class="field">
                    <div class="ui celled relaxed list">
                        @foreach (var acesso in Model.Acessos)
                        {
                        <div class="item FatherList">
                            <div class="ui master checkbox MasterList">
                                <input type="checkbox" name="Acessos" nome="@acesso.Nome">
                                <label>@acesso.Nome</label>
                            </div>
                            <div class="list">
                                @foreach (var permissao in acesso.Permissoes)
                                    {
                                    <div class="item">
                                        <div class="ui child checkbox ChildList">
                                            <input type="checkbox" name="AcessosPost" value="@acesso.Nome.@permissao.Nome">
                                            <label>@permissao.Nome</label>
                                        </div>
                                    </div>
                                    }
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button green  inverted" type="button" form="formModalAdd" name="Adicionar">Adicionar</button>
        <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
</div>
