﻿@model HomeWeb.Models.ViewModel.CAcessoViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalExcluir" data-url="@Url.Action("ModalExcluirAcesso","Perfil")" method="post">
            <h3>Deseja realmente excluir o acesso "@Model.Nome" e suas dependências?</h3>
            <div class="ui inverted divider"></div>
            <input type="hidden" name="Codigo" value="@Model.Codigo" />
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button red inverted" type="button" form="formModalExcluir" name="Remover">Remover</button>
        <button class="ui deny button green basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>

