﻿@model HomeWeb.Models.ViewModel.CPermissaoViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalEditar" data-url="@Url.Action("ModalEditarPermissao","Perfil")" method="post">
            <h3 class="ui dividing inverted header">Editar perfil</h3>
            <div class="field">
                <div class="field" id="divFormNome">
                    <label>Nome</label>
                    <input type="text" name="Nome" placeholder="Nome" value="@Model.Nome" />
                    <input type="hidden" value="@Model.Codigo" name="Codigo" />
                </div>
                <div class="field">
                    <div class="field" id="divFormNome">
                        <label>Descrição</label>
                        <input type="text" name="Descricao" placeholder="Descrição" value="@Model.Descricao" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui approve button yellow  inverted" type="button" form="formModalEditar" name="Editar">Editar</button>
        <button class="ui deny button red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
</div>
