﻿@model HomeWeb.Models.ViewModel.CPerfisViewModel
@using HomeDBEntity.Enum;
@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Perfis</title>


<div class="ui inverted top attached tabular menu">
    <a class="item active" data-tab="Perfil">Perfil</a>
    <a class="item" data-tab="Acesso">Acesso</a>
    @if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
    {
        <a class="item" data-tab="Permissao">Permissao</a>
    }

</div>
<div class="ui bottom attached tab segment active" data-tab="Perfil">
    @{
        Html.RenderPartial("GridPerfil", Model);
    }
</div>
@if (HomeService.UsuarioService.PossuiAcesso(eAcessoId.Perfil, ePermissaoId.Gerenciar))
{
    <div class="ui bottom attached tab segment" data-tab="Permissao">

        @{
            Html.RenderPartial("GridPermissao", Model);
        }

    </div>
            }
<div class="ui bottom attached tab segment" data-tab="Acesso">
    @{
        Html.RenderPartial("GridAcesso", Model);
    }
</div>

@section footer{
    @Scripts.Render("~/bundles/Perfil")
    <script src="~/Scripts/Base/CheckBoxScript.js"></script>
}