﻿@using HomeDBEntity.Enum;
@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Painel</title>

@if (HomeService.UsuarioService.PossuiAcesso(ePermissaoId.SQL))
{
    <div>
        <div id="master">
            <div class=" container">
                <div class="sqlexibicao"style="color:white;">

                </div>
            </div>
        </div>

        <input type="hidden" class="sqlinput" style="color:black;position:fixed;  bottom: 0; margin-left: 5px;    margin-bottom: 15px;" />
    </div>
}


@section footer{
 
}
