﻿@model HomeWeb.Models.ViewModel.CUsuariosViewModel

<table class="ui selectable structured inverted table">
    <thead>
        <tr>
            <th>Nome usuario</th>
            @if (HomeService.UsuarioService.PossuiAcesso("Usuario.Gerenciar"))
            {
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-Mail</th>
                <th>Ações</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var usuario in Model.Usuarios.Take(20))
        {
            <tr>
                <td class="E_mail"> @usuario.Usuario1 </td>
                @if (HomeService.UsuarioService.PossuiAcesso("Usuario.Gerenciar"))
                {
                    <td class="Nome"> @usuario.Nome </td>
                    <td class="Sobrenome"> @usuario.Sobrenome </td>
                    <td class="E_mail"> @usuario.E_mail </td>
                    <td class="collapsing">
                        @if (HomeService.UsuarioService.PossuiAcesso("Usuario.Excluir"))
                    {
                            <input type="button" class="ui button inverted red modalCall" data-url="@Url.Action("ModalExcluirUsuario", "Usuario", new { id = usuario.Id })" name="Excluir" value="Excluir" id="btnModalExcluir" />
                        }
                        @if (HomeService.UsuarioService.PossuiAcesso("Usuario.Editar"))
                    {
                            <input type="button" class="ui button inverted yellow modalCall" data-url="@Url.Action("ModalEditarUsuario", "Usuario", new { id = usuario.Id })" name="Editar" value="Editar" id="btnModalEditar" />
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total de usuarios: @Model.Usuarios.Count</th>
            @if (HomeService.UsuarioService.PossuiAcesso("Perfil.Inserir"))
            {
                <th>
                    <input type="button" class="ui button inverted green modalCall" data-url="@Url.Action("ModalCriarUsuario", "Usuario")" name="Criar" value="Criar" id="btnModalCriar" />
                </th>
            }
        </tr>
    </tfoot>

</table>