﻿@model HomeWeb.Models.ViewModel.CUsuarioViewModel

<div class="ui basic longer modal">
    <div class="content">
        <form class="ui form formModal" id="formModalExcluir" data-url="@Url.Action("ModalExcluirUsuario","Usuario")" method="post">
            <h3 class="ui dividing inverted header">Deseja realmente excluir o usuario "@Model.Nome"?</h3>
            <div class="ui inverted divider"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
        </form>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui button approve red inverted" type="button" form="formModalExcluir" name="Remover" >Remover</button>
        <button class="ui deny button green basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>

