﻿@model HomeWeb.Models.ViewModel.CUsuarioViewModel

<div class="ui basic longer modal">
    <div class="scrolling content">
        <div class="field">
            <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalCriarUsuario","Usuario")" method="post">
                <h3 class="ui dividing inverted header">Criar usuario</h3>
                <div class="field" id="divFormUsuario">
                    <label>Nome de usuario</label>
                    <input type="text" name="Usuario1" placeholder="Usuario" />
                </div>
                <div class="ui inverted divider"></div>
                <div class="field" id="divFormNome">
                    <label>Nome</label>
                    <input type="text" name="Nome" placeholder="Nome" />
                </div>
                <div class="field" id="divFormSobrenome">
                    <label>Sobrenome</label>
                    <input type="text" name="Sobrenome" placeholder="Sobrenome" />
                </div>
                <div class="ui inverted divider"></div>
                <div class="field" id="divFormEMail">
                    <label>E-mail</label>
                    <input type="email" name="E_mail" id="Id_eMail" placeholder="E-mail" />
                </div>
                <div class="field" id="divFormSenha">
                    <label>Senha</label>
                    <input type="password" name="Senha" id="pwdSenha" placeholder="Senha" />
                </div>
                <div class="field" id="divFormRepetirSenha">
                    <label>Repita a senha</label>
                    <input type="password" name="Senha" id="pwdRSenha" placeholder="Repita a senha" />
                </div>
            </form>

        </div>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui button approve green  inverted" type="button" form="formModalAdd" name="Adicionar" >Adicionar</button>
        <button class="ui button deny red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>
<script src="~/Scripts/Login/CadastroScript.js"></script>