﻿@model HomeWeb.Models.ViewModel.CUsuarioViewModel

<div class="ui basic longer modal">
    <div class="scrolling content">
        <div class="field">
            <form class="ui form formModal" id="formModalAdd" data-url="@Url.Action("ModalEditarUsuario","Usuario")" method="post">
                <h3 class="ui dividing inverted header">Editar usuario</h3>
                <div class="field" id="divFormUsuario">
                    <label>Nome de usuario</label>
                    <input type="text" name="Usuario1" placeholder="Usuario" value="@Model.Usuario1" />
                </div>
                <div class="ui inverted divider"></div>
                <div class="field" id="divFormNome">
                    <label>Nome</label>
                    <input type="text" name="Nome" placeholder="Nome" value="@Model.Nome" />
                </div>
                <div class="field" id="divFormSobrenome">
                    <label>Sobrenome</label>
                    <input type="text" name="Sobrenome" placeholder="Sobrenome" value="@Model.Sobrenome" />
                </div>
                <div class="ui inverted divider"></div>
                <div class="field" id="divFormEMail">
                    <label>E-mail</label>
                    <input type="email" name="E_mail" id="Id_eMail" placeholder="E-mail" value="@Model.E_mail" />
                </div>
            </form>
        </div>
    </div>
    <div class="actions" id="divFormButtons">
        <button class="ui button approve yellow  inverted" type="button" form="formModalAdd" name="Adicionar" >Editar</button>
        <button class="ui button deny red basic inverted" type="button" name="Cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>
<script src="~/Scripts/Login/CadastroScript.js"></script>
