﻿
@{
    Layout = "~/Views/Master/Menu.cshtml";
}

<title>Chat</title>

<div class="ui stactable column grid">
    <div class="three wide column">
        <div class="row stretched">
            <div class="ui large aligned selection animated list">
                @for (int i = 0; i< 100; i++)
                {
                    <div class="item">
                        <img class="ui avatar image" src="~/Content/Home/Anonimo.png">
                        <div class="content">
                            <div class="header txtBranco">Helen</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="~/Content/Home/Anonimo.png">
                        <div class="content">
                            <div class="header txtBranco">Christian</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="~/Content/Home/Anonimo.png">
                        <div class="content">
                            <div class="header txtBranco">Daniel</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui stactable column grid">
            <div class="row">
                <textarea></textarea>
            </div>
            <div class="row">
                <label>Envar</label>
                <div class="inline">
                    <input type="text" class="" name="Enviar">
                    <button class="ui button green inverted">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section footer{

}