﻿

.divForm,
.ui.form {
    padding-left: 25% ;
    padding-right: 25% ;
    position: relative;
}

    .ui.form.formLogin {
        top: 25%;
    }

    .ui.form.formCadastro {
        top: 5%;
    }

    .ui.form.formModal {
        padding-left: 0%;
        padding-right: 0%;
        position: relative;
    }

 
body {
    background-color: rgb(23, 17, 17);
}
.txtBranco,
h3,
.field label {
    color: white !important;
}

.btnAction {
}

    .btnAction:hover {
        cursor: pointer;
    }

.tab.segment {
    padding: 0px !important;
}

.ui.console {
    top: 92%;
    left: 1%;
    height: 35px;
    position: absolute;
}

.btnGroupAction {
    position: fixed !important;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    margin-bottom: 15px;
}

.ItemPulse{
    cursor: pointer;
}
/*.callModal {
    color: black !important;
}*/
